---
ipsec_partner:
  cluster:
      nodes:
      - node1
      - node2
      pass: WeLcome1%@

  public:
      vnic_no: 0
      ip: 132.182.111.16
      oicd: ocid1.publicip.ETC." 
      
  private:
      - nic: ens3
        vnic_no: 2
        ip: 192.168.0.253
        cidr_netmask: 24
      - nic: ens5
        vnic_no: 1
        ip: 192.168.1.253
        cidr_netmask: 24
  
  route:
    destination: 213.180.141.140
    device: ens5
    gateway: 192.168.0.1

  libreswan_service: ipsec